.headerDiv {
    background-color : pink;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBox {
    background-color: aquamarine;
    color: white;
    flex: 19;
}

.loginBox {
    background-color: antiquewhite;
    color: grey;
    flex: 1;
}