.mainDiv {
    background-color : orange;
    height: 100%;
}

.scroll {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    height: 25vh;
    border: solid;
    border-color: black;
}

.load {
    width: 400%;
    background-color: antiquewhite;
    text-align: center;
}

.end {
    width: 400%;
    background-color: aquamarine;
    text-align: center;
}