.mainDiv {
    background-color : orange;
    height: 100%;
}

.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.item {
    height: 35vh;
    border: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    background-color: bisque;
    flex: 28;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://mblogthumb-phinf.pstatic.net/MjAyMDEwMDJfMjc5/MDAxNjAxNjMyOTY0NzE4.0-yURkNaGAlHB7uldc6RnfvAVqA064JCys7COWUlmtog.drnDVe1_kpczjS_bdLTcEd1_TrKwsw7falogFeIlxzog.JPEG.doyun0118/IMG_1465.jpg?type=w800);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.data {
    background-color: aquamarine;
    flex: 7;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load {
    width: 500%;
    background-color: antiquewhite;
    text-align: center;
}

.end {
    width: 500%;
    background-color: aquamarine;
    text-align: center;
}